/* TODO: more colors----
lavender - #F0E6EF
periqinkle - #B8BEDD
green - #C0DF85
bold tan - #DEB986
onyx - #403F4C
raisin black - #2C2B3C
green beige - #F2F3D9
mint cream - #F6FFF8
azure - #EAF4F4
mint green - #CCE3DE
lion - #C59B76
*/

.App {
  text-align: center;
}

.App-header {
  background-color: #C59B76;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
}

.App-body {
  background-color: #edf7f6;
  padding-top: 0;
  min-height: 70vh;
}
